*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
/.vscode
node_modules/
MineSweeper.Web/MineSweeper.Web.UI/ssl/server.crt
MineSweeper.Web/MineSweeper.Web.UI/ssl/server.key
