<table class="table" oncontextmenu="return false">
  <tbody>
    <tr *ngFor="let row of cells">
      <td
        *ngFor="let cell of row"
        class="cell"
        [ngStyle]="{ width: cellSize + 'px', height: cellSize + 'px' }"
        [ngClass]="{
          open: cell.open,
          mine: cell.mine,
          flag: cell.flag
        }"
        (mousedown)="cellClick(cell, $event)"
      >
        {{ cell.open && !cell.mine && cell.number != 0 ? cell.number : '' }}
      </td>
    </tr>
  </tbody>
</table>
