.cell {
  background-color: aqua;
  padding: 0;
  border: 5px ridge #f00;

  &.open:not(.mine) {
    background-color: gray;
    text-align: center;
  }

  &.mine {
    background-color: red;
  }

  &.flag {
    background-color: crimson;
  }
}

.table {
  border-spacing: 0;
}
